<form method="GET" action="/search">
  <input placeholder="name" type="text" name="q[name]" />
  <input placeholder="location" type="text" name="q[location]" />
  <input type="submit">
</form>

<%= render partial: "band_list", locals: { bands: @bands } %>
