<h1>Page for <%= @band.name %></h1>
<h2>Relationships</h2>
<% @band.all_relationships.each do |relationship| %>

  <%= relationship.band_one.name %><br>
  <%= relationship.band_two.name %><br>
  <%= relationship.status %>
  <br><br>
<% end %>
