// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friends-list {
  float: left;
  margin-left: 10px;
  width: 800px;
}

.friend-panel {
  max-width: 750px;
  margin-bottom: 10px;
}

.friend-info {
  margin-left: -15px;
  border: 1px solid black;
}

.friend-name {
  font-size: 1.5em;
}

.top-friends {
  width: 25%;
}
